.title {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	font-weight: 600;
}
.des {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	overflow: hidden;
	-webkit-box-orient: vertical;
}

.news-more {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	font-weight: 500;
	font-family: math;
	font-size: 1.2rem;
	border-bottom: 1px solid #ccc;
	padding-bottom: 0.2rem;
	margin-bottom: 0.75rem;
}

.hot_news-des {
	padding: 0.5rem;
	p {
		display: -webkit-box;
		overflow: hidden;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
	}
}

.how_news-rent {
	padding: 0.5rem;
	.des {
		display: -webkit-box;
		overflow: hidden;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	.propers {
		font-size: 0.875rem;
		display: -webkit-box;
		overflow: hidden;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		span {
			margin-right: 8px;
		}
	}
}

.swiper-slide {
	height: 50px;
}
