.backdrop-search-news {
	position: relative;
	&::after {
		content: '';
		position: absolute;
		background-color: white;
		height: 1px;
		bottom: -1px;
		border-radius: 4px;
		left: 0;
		right: 0;
		margin: 0 auto;
		transition: width 0.2s linear;
	}

	&::before {
		content: '';
		position: absolute;
		animation: expandWidth 0.4s linear;
		z-index: 1;
		background-color: rgb(63, 146, 255);
		height: 1px;
		bottom: -1px;
		border-radius: 4px;
		left: 0;
		right: 0;
		margin: 0 auto;
		transition: width 0.2s linear;
	}
	@keyframes expandWidth {
		0% {
			width: 0%;
			background-color: white;
		}
		100% {
			width: 100%;
			background-color: #4981f8;
		}
	}
}
.backdrop_menu {
	.backdrop_menu-social {
		li {
			padding: 0.5rem;
			a {
				font-size: 1.4rem;
				color: #fff;
			}
		}
	}

	.backdrop_menu-topic {
		li {
			& > a {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}
		.backdrop_menu-active {
			p {
				color: #73c7e3;
			}
		}
		.backdrop_menu-arrow-expand {
			color: white;
			margin: 0;
			transform: rotate(0deg);
			svg {
				width: 16px;
				height: 16px;
			}
			&.active {
				transform: rotate(90deg);
			}
		}
		.backdrop_menu-expand-info {
			overflow: hidden;
			li {
				margin: 0;
				padding: 0.4rem;
				a {
					padding: 0.6rem;
				}
			}
		}
	}
}
