.intro-web {
	background: url('https://mogi.vn/content/images/home/home-bg-d.jpg') no-repeat center center/cover;
	height: 28rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	.search-title {
		width: 100%;
		li {
			width: fit-content;
			font-size: 1.2rem;
			cursor: pointer;
			&.active {
				border-bottom: 3px solid #01adba;
			}
		}
	}
	li {
		color: white;
	}
	input{
		line-height: 2;
	}
	.type_intro{
		width: 100%;
		li{
			position: relative;
			p{
				margin-right: 4px;
			}
			span{
				color: #01adba;
			}
			font-size: 14px;
			cursor: pointer;
			display:flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	.container-bg {
		padding-left: 4rem;
		p {
			font-family: 'emoji';
			color: white;
			animation: typing 10s steps(54) infinite, bblink 1s infinite;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			@keyframes typing {
				0%,
				100% {
					width: 0%;
				}
				70%,
				90% {
					width: 100%;
				}
			}

			@keyframes bblink {
				0%,
				100% {
					border-right: 10px solid transparent;
				}
				50% {
					border-right: 10px solid #01adba;
				}
			}
		}
		width: fit-content;
	}
}
