.sidebar_dash {
	box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.06);
	width: 18rem;
	transition: width 0.25s linear;
	overflow: hidden;
	&.expanded {
		width: 5rem;
		@media screen and (max-width: 1024px) {
			width: 0;
		}
	}
	@media screen and (max-width: 1024px) {
		padding-left: 0;
		padding-right: 0;
	}
	.header_bar {
		svg {
			transition: transform width 250ms ease-in;
			width: 20px;
			transform: translateX(0);
			&.run {
				width: 11px;
				transform: translateX(4px);
			}
		}
	}

	ul {
		li {
			margin-bottom: 16px;
			a {
				padding: 0.5rem 1rem;
				border-radius: 10px;
				display: flex;
				align-items: center;
				&.active {
					background: #f6f9fc;
				}
				span {
					margin-right: 1rem;
					svg {
						width: 20px;
						height: 20px;
					}
				}
				.text {
					width: 100%;
					transition: width 0.25s linear;
					&.unshow {
						width: 0;
					}
				}
			}
		}
	}
}
