.topic {
	ul {
		display: none;
	}
	&:hover {
		ul {
			display: block;
		}
	}
	.head-topic {
		position: relative;
		&::after {
			content: '';
			position: absolute;
			width: 0%;
			height: 4px;
			background-color: #4db2ec;
			bottom: 0;
			border-radius: 4px;
			left: 0;
			right: 0;
			margin: 0 auto;
			transition: width 0.2s linear;
		}
		&:hover {
			&:after {
				width: 100%;
			}
		}
		&.active {
			&:after {
				width: 100%;
			}
		}
	}
}
